.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(67, 88, 137);
}

.flex-container div {
    width: 180px;
    margin: 5px;
    text-align: center;
    line-height: 180px;
    font-size: 20;
}

#yksi {
    background-color: rgb(40, 57, 97);
}

#kaksi {
    background-color: rgb(46, 65, 109);
}

#kolme {
    background-color: rgb(52, 72, 117);
}

#neljä {
    background-color: rgb(60, 80, 127);
}

#viisi {
    background-color: rgb(65, 86, 134);
}

#kuusi {
    background-color: rgb(71, 93, 143);
}

#seitsemän {
    background-color: rgb(77, 100, 152);
}

#kahdeksan {
    background-color: rgb(84, 106, 157);
}

#yhdeksän {
    background-color: rgb(90, 112, 163);
}

#kymmenen {
    background-color: rgb(96, 119, 171);
}